/* ABOUT WEB PAGE CONTENT*/
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #008148 #ffffff00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #008148;
  border-radius: 10px;
  border: 0px solid #ffffff00;
}

/* THIS IS A VERY HANDY CLASS */
.justifier {
  text-align: justify;
  text-justify: inter-word;
  line-height: 2rem;
}

.bodyStyle {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: radial-gradient(farthest-corner at 40px 40px, #034732 0%, #008148 100%);
  color: #B5DDA4;
}

/* ABOUT CONTENT */
.content {
  width: 100vw;
  height: auto;
  padding: 1rem 2.5rem;
  margin-top: 5rem;
}

.h1styles {
  font-size: 48px;
}

.img1-container {
  margin: 1rem 0;
}

.img1,
.img2 {
  width: 100%;
}

/* VERTICAL LINE */
.line-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40vh;
}

.vertical-line {
  width: 2px;
  height: 20vh;
  box-shadow: 0 0 10px 5px #B5DDA4;
  background-color: #B5DDA4;
  display: inline-block;
}

/* BUTTON */
.h2Styles {
  margin-bottom: 1rem;
  font-size: 36px;
  color: #034732;
}

/* LIGT SIDE */
.classContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: radial-gradient(farthest-corner at 0px 0px, #008148 0%, #B5DDA4 100%);
}

.container1 {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleText {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.divider {
  border: 1px solid #034732;
  box-shadow: 0 0 3px #008148;
  background-color: #034732;
  width: 90%;
  height: 2px;
  margin-bottom: 1rem;
}

/*  ARROW DOWN */
:root {
  --ani-speed: 5s;
  --ani-delay: 1s;
}

.arrow {
  opacity: 0;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
  animation: arrow-movement var(--ani-speed) ease-in-out infinite;
}

.arrow-second {
  animation: arrow-movement var(--ani-speed) var(--ani-delay) ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #034732;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  width: 30px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* CONTENT ABOUT CLASSES */
.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  background-image: url("https://www.transparenttextures.com/patterns/swirl.png");
  background-color: #034732;
  color: #B5DDA4;
  padding: 2rem;
}

.container3 a {
  font-size: 22px;
}

/* ACARDION MENU FAQ */
.faq {
  margin: 1rem;
}

.customBG {
  background-color: #a4d290;
  color: #034732;
}

.customFlashing{
  animation: colorToggle 3s ease-in infinite;
}

@keyframes colorToggle {
  0%, 100% {
    background-color: #a4d290;
    color: #034732;
  }
  50% {
    background-color: #034732;
    color: #a4d290;
  }
}

/*    FOR IPAD */
@media only screen and (min-width: 767px) {
  .img1 {
    width: 70%;
    height: auto;
  }

  .text-container {
    margin-right: 30vw;
  }

  .text-container p {
    font-size: 22px;
  }

  .img1-container,
  .img2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
  }

  .img2 {
    width: 80vw;
    height: auto;
  }

  .faq {
    display: flex;
    justify-content: center;
  }

  .accordion-menu {
    max-width: 80%;
  }
}

/*    FOR NEST HUB */
@media only screen and (min-width: 1020px) {
  .img2 {
    width: 60vw;
    height: auto;
  }

  .class-contents {
    font-size: 22px;
  }

  .parallax h2 {
    font-size: 32px;
  }
}

/*    FOR NEST HUB MAX*/
@media only screen and (min-width: 1279px) {
  .container2 {
    width: 80vw;
  }

  .content {
    width: 100%;
    height: auto;
    padding: 0 5rem;
    margin-top: 100px;
  }

  .h1styles {
    font-size: 48px;
  }

  .img1-container {
    display: flex;
    justify-content: flex-start;
  }

  .img1,
  .img2 {
    width: 50%;
  }

  .parallax h2 {
    font-size: 56px;
  }

  .container2 {
    width: 60vw;
  }

  .accordion-menu {
    max-width: 60%;
  }

  .line-container {
    margin-bottom: 30px;
  }
}

/* FOR PARALLEX SECTION FOR SMALLER THAN LAPTOP  */
@media only screen and (max-width: 1020px) {
  /* PARALLEX */
  .parallax {
    background-image: url("../../assets/images/about-img1.jpg");
    /* Set a specific height */
    width: 100vw;
    height: 25vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* FOR PARALLEX SECTION LAPTOP AND BIGGER */
@media only screen and (min-width: 1020px) {
  /* PARALLEX */
  .parallax {
    background-image: url("../../assets/images/about-img2.jpg");
    /* Set a specific height */
    width: 100vw;
    height: 25vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}