/* HOME BODY */
.homeBody {
  display: block;
  background-color: #B5DDA4;
  font-family: IRANRounded !important;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bg {
  background-image: url(../../assets/images/home.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  opacity: 0;
  animation: fade-in 1s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.disable {
  display: none;
}

/* THREE CENTER WORDS */
.centerWords {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: #034732;
}

.homeh2 {
  transform: scale(0.94);
  animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.three-words1,
.three-words2,
.three-words3 {
  opacity: 1;
  filter: blur(1);
  font-size: 75px;
}

.three-words1 {
  animation: fade-out 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  animation-delay: .5s;
}

.three-words2 {
  animation: fade-out 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  margin-right: 8rem;
  animation-delay: 1s;
}

.three-words3 {
  animation: fade-out 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  margin-right: 8rem;
  animation-delay: 1.5s;
}

@keyframes fade-out {
  100% {
    opacity: 0;
    filter: blur(10px);
  }
}

/* CENTER BUTTON */
.centerBtn {
  opacity: 0;
  width: 200px;
  text-align: center;
  z-index: 10;
  background-color: transparent;
  padding: 0.75rem 1.75rem;
  margin-top: 4rem;
  border-radius: 50px;
  border: 1px solid #034732;
  font-family: inherit;
  transition: all 0.8s ease;

  animation: fade-in 1s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);

  position: fixed;
  top: 28vh;
  left: calc(50vw - 100px);
}

.centerBtn:hover {
  background-color: #96C5F7;
  border: 1px solid #96C5F7;
}

.ywm {
  opacity: 0;
  transform: scale(0.94);
  animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);

  text-decoration: none;
  font-family: inherit;
  font-size: 28px;
  color: #034732;

  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(1);
  }
}