  /*    HOME WEB PAGE WITH ALIVE BALL */
.bodyStyle{
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(#304b29, #619055);
    direction: rtl;
    font-family: IRANRounded!important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.makeItred{
    font-weight: 600;
    color: rgb(157, 0, 0);
}
.mainContent{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 3rem;
}
.h1Styles{
    font-size: 32px;
    margin-bottom: 2rem;
}
.h2Styles{
    font-size: 22px;
    text-align: justify;
    margin-bottom: 2rem;
}
.myForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.myForm textarea,
.myForm button,
.myForm input{
    border-radius: 5px;
    border: none;
    background-color: #a0b49b;
}
.myForm input{
    padding: 0.5rem;
}
.myForm label{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 18px;
}
.myForm button{
    padding: 0.5rem;
    margin: 0.75rem 5rem;
    background-color: #3b5f32;
    color: #a6e995;
    font-size: 22px;
    font-family: inherit;
}
.errMsgStyle{
    color: #ffbebe;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}