.body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: #B5DDA4;
    color: black;
}
.terms{
    padding: 2rem;
    margin: 5rem 2rem 2rem 2rem;
    background: linear-gradient(0deg, #B5DDA4 0%, #008148 100%);
}
.terms ul {
    list-style: none;
}
.terms ul li{
    text-align: justify;
    text-justify: inter-word;
    line-height: 2rem;
}
